// To retrieve default styles and variables
@import "@styles/index.scss";

.diagonale-line {
    position: absolute;
    bottom: 0;
    filter: drop-shadow(0 0 5px #feb26e);
    fill: #d6d6d6;
}

.diagonale-line.above {
    transform-origin: bottom left;
    transform: rotate(30deg);
}

.diagonale-line.below {
    bottom: 100%;
    transform-origin: bottom left;
    transform: rotate(150deg) scaleX(-1);
}
