// Les variables scss qui pourront être utilisées par tous le projet

$size-circle: 25px;
$timeline-width: 10px;
$timeline-margin: 80px;
$timeline-event-width: 400px;
$timeline-event-height: 300px;
$timeline-event-border-width: 4px;
$timeline-interval: calc($timeline-event-width * 0.65);
