// To retrieve default styles and variables
@import "@styles/index.scss";

.timeline-box {
    position: absolute;
    height: 100%;
    padding: 0 $timeline-margin;
    display: flex;
    align-items: center;

    .timeline {
        position: absolute;
        width: calc(100% - 2 * $timeline-margin);
        height: $timeline-width;
        background-color: #d6d6d6;
        border-radius: 20px;
        box-shadow:
            0 0 7px #ffffff,
            0 0 10px #ffffff,
            0 0 15px #feb26e,
            0 0 27px #dd829e,
            0 0 39px #7458a0;

        .timeline-event-box {
            position: absolute;
            width: $timeline-event-width;
            height: calc($timeline-event-height + 115px);
            background-color: transparent;

            .diagonale-line {
                position: absolute;
                bottom: 0;
                filter: drop-shadow(0 0 5px #feb26e);
                fill: #d6d6d6;
            }

            .content-box {
                position: absolute;
                border: $timeline-event-border-width solid #d6d6d6;
                width: 100%;
                height: $timeline-event-height;
                box-shadow:
                    0 0 5px #feb26e,
                    0 0 9px #dd829e;
            }
        }

        .timeline-event-box.above {
            bottom: calc(50% - $timeline-width / 2);

            .diagonale-line {
                transform-origin: bottom left;
                transform: rotate(30deg);
            }

            .content-box {
                border-radius: 25px 0 25px 0;

                .content {
                    border-radius: 20px 0 20px 0;
                }
            }
        }

        .timeline-event-box.below {
            display: flex;
            align-items: end;
            top: calc(50% - $timeline-width / 2);

            .diagonale-line {
                bottom: 100%;
                transform-origin: bottom left;
                transform: rotate(150deg) scaleX(-1);
            }

            .content-box {
                border-radius: 0 25px 0 25px;

                .content {
                    border-radius: 0 20px 0 20px;
                }
            }
        }
    }
}
