// To retrieve default styles and variables
@import "@styles/index.scss";

.timeline-box {
    position: absolute;
    height: 100%;
    padding: 0 $timeline-margin;
    display: flex;
    align-items: center;

    .timeline {
        position: absolute;
        width: calc(100% - 2 * $timeline-margin);
        height: $timeline-width;
        background-color: #d6d6d6;
        border-radius: 20px;
        box-shadow:
            0 0 7px #ffffff,
            0 0 10px #ffffff,
            0 0 15px #feb26e,
            0 0 27px #dd829e,
            0 0 39px #7458a0;

        .timeline-event-box {
            position: absolute;
            width: $timeline-event-width;
            display: flex;
            flex-direction: column;
            gap: 5px 0;
            background-color: transparent;

            .content-box {
                border: $timeline-event-border-width solid #d6d6d6;
                width: 100%;
                height: $timeline-event-height;
                transform: scale(0.85);
                box-shadow:
                    0 0 5px #feb26e,
                    0 0 9px #dd829e;
            }

            .diagonale-line-container {
                height: 46.59px;
                filter: drop-shadow(0 0 5px #feb26e);
                fill: #d6d6d6;
            }
        }

        .timeline-event-box.above {
            bottom: calc(50% - $size-circle / 2);

            .content-box {
                order: 1;
                position: relative;
                top: calc(($timeline-event-height - $timeline-event-height * 0.85) / 2);
                right: calc(($timeline-event-height - $timeline-event-height * 0.85) / 2);
                border-radius: 25px 0 25px 0;

                .content {
                    border-radius: 20px 0 20px 0;
                }
            }

            .diagonale-line-container {
                order: 2;
            }
        }

        .timeline-event-box.below {
            top: calc($timeline-width / 2 - $size-circle / 2);

            .content-box {
                order: 2;
                position: relative;
                bottom: calc(($timeline-event-height - $timeline-event-height * 0.85) / 2);
                right: calc(($timeline-event-height - $timeline-event-height * 0.85) / 2);
                border-radius: 0 25px 0 25px;

                .content {
                    border-radius: 0 20px 0 20px;
                }
            }

            .diagonale-line-container {
                order: 1;
                transform: scaleY(-1);
            }
        }
    }
}

@media screen and (min-height: 700px) {
    .timeline-box {
        .timeline {
            .timeline-event-box {
                .content-box {
                    transform: scale(1);
                }
            }
            
            .timeline-event-box.above {
                .content-box {
                    position: static;
                }
            }

            .timeline-event-box.below {
                .content-box {
                    position: static;
                }
            }
        }
    }
}

@media screen and (min-height: 850px) {
    .timeline-box {
        .timeline {
            .timeline-event-box {
                .diagonale-line-container {
                    height: 115.75px;
                }
            }
        }
    }
}
