// To retrieve default styles and variables
@import "@styles/index.scss";

#app {
    .timeline-container {
        position: relative;
        background-color: #000000;
        height: 100vh;
        display: flex;
        align-items: center;
        overflow-y: hidden;
        overflow-x: auto;
        background: local repeat-x url("@assets/backgroundMiami.png");
    }
}
